# Data Science Tools and Ecosystem
In this tools, Data Science Tools and Ecosystem are summarized

Some of popular languages that Data Scientist used are :
1. Python
2. R
3. SQL
4. Java
5. SCALA
6. JAVA SCRIPT

Some of Commonly used libraries used by Data Scientists include :
1. Pandas 
2. Numpy
3. Scipy
4. TensorFlow
5. Jupyter 
6. Matplotlib

| Data Scientist Tools |
-------------------------
| R Studio |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic exresssions in Python :
$$ a*b $$
$$ a/b $$
$$ a+b $$
$$ a-B $$

In [4]:
# This is sample arithmetic expression to multiply then add integers 
a = (3*4)+5
print(a)

17

In [5]:
# This will convert 200 minutes into hours by dividing by 60.
a = 200/60
print(a)

3.3333333333333335

**Objectives**
- List of popular languages used in Data Science
- List of Data Science Libraries
- Open Source Tools used by Data Scientist 
- Arithmetic Expressions in Python
- Markdown Cells and Code Cells

## Author 
Saurabh S. Thombare

#